.results-container {
    width: 60vw;
    max-height: 75vh !important;
    height: fit-content;
    margin-top: 4rem;
    background-color: #fff;
    box-shadow: 0px 0px 1.1px rgba(0, 0, 0, 0.011),
        0px 0px 2.7px rgba(0, 0, 0, 0.016), 0px 0px 5px rgba(0, 0, 0, 0.02),
        0px 0px 8.9px rgba(0, 0, 0, 0.024), 0px 0px 16.7px rgba(0, 0, 0, 0.029),
        0px 0px 40px rgba(0, 0, 0, 0.04);
    overflow-x: hidden;
    overflow-y: auto;
}

.no-results {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-results h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0;
    color: #000000;
}

.result {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #ececec;
    padding: 1rem;
    cursor: pointer;
}

.result:last-child {
    border-bottom: none;
}

.result:hover {
    background-color: #f0f0f0;
}

.result .search__image-container {
    height: 70px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.result .search__image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.result .search__info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1rem;
}

.result .search__info-container h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: #000000;
}

.result .search__info-container h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #000000;
}
