.user-details {
    width: 20em;
    height: auto;
    box-shadow: var(--shadow-around);
    display: flex;
    flex-direction: column;
}

.avatar-container {
    width: 100%;
    height: 13em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upload-actions {
    position: absolute;
    bottom: -2.25em;
    right: 50%;
    transform: translateX(50%);
    z-index: 100;
    margin: 0;
    padding: 0;
    justify-self: center;
}

.upload-actions button {
    width: 3.5em;
    aspect-ratio: 1;
    border: none;
    border-radius: 50%;
    background-color: #e5e5e5;
    cursor: pointer;
    margin: 1em;
    box-shadow: var(--shadow-elevation-medium);
}

button.confirm {
    background-color: #caf080;
}

button.cancel {
    background-color: #f6a4a4;
}

.user-details__avatar {
    width: 100%;
    height: 13em;
    overflow: hidden;
    position: relative;
}

.user-details__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.avatar-overlay h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: 600;
    margin: 0;
    color: #ffffff;
}

.user-details__info {
    width: 100%;
    height: fit-content;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.user-details__action {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 1.25em;
    height: 1.25em;
    padding: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1;
}

.user-details__action-icon.cancel {
    color: #f08d8d;
}

.user-details__action.edit:hover {
    background-color: #e6e6e6;
}

.user-details__action-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-details__action-icon.edit {
    color: #8f8f8f;
}

.user-details__action.add {
    background-color: #c5e7c0;
}

.user-details__action-icon.add {
    color: #444444;
}

.user-details h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
    margin-top: 1em;
}

.user-details h2,
p.role-department {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 300;
    margin: 0;
    display: block;
}

p.role-department::first-letter {
    text-transform: uppercase;
}

.user-details hr {
    border-top: 1px solid #d4d4d4;
    width: 80%;
}

.description {
    width: 16em;
    height: auto;
    display: flex;
    margin-top: 1em;
    margin-bottom: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.description p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: 1.2em;
}

.user-details__name-edit {
    width: inherit;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.user-details__name-edit input {
    width: 100%;
    height: 1.5em;
    padding: 0;
    margin: 0 0.5em;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    background: transparent;
    margin-top: 1em;
    border: none;
    outline: none;
    border-bottom: 3px solid #b4d3ed;
}

.user-details__name-edit input:focus {
    border-color: #7aafdb;
}

.user-details__name-edit input::placeholder {
    color: #8f8f8f;
}

.user-details__description-edit {
    margin: 1.2em;
    width: 16em;
    height: 10em;
    resize: vertical;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    text-align: left;
    border: none;
    outline: none;
    border-bottom: 3px solid #b4d3ed;
}

.user-details__description-edit:focus {
    border-color: #7aafdb;
}

.user-details__description-edit::placeholder {
    color: #8f8f8f;
}

.save-edit-button {
    background-color: #006fc3;
    color: #eaeaea;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 1em;
}

.save-edit-button:hover {
    background-color: #005a9e;
}
